* {
  padding: 0;
  margin: 0;
}
@import "./animation";

.wrapper {
  position: relative;
  background-image: url("./assets/img/BG-11.png");
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  height: 1080px;
  width: 1920px;
  font-size: 120px;
  overflow: hidden;
  // text-transform: uppercase;
}
.btn {
  z-index: 10;
  position: absolute;
  left: 50%;
}
.slider {
  position: relative;
}
.slide {
  position: absolute;
  width: 100%;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide__opacity {
  opacity: 0;
}
.scors {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.team {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 282px;
  margin-right: 80px;
}
.team-two {
  margin-bottom: 0;
}
.team-score {
  position: relative;
  //   margin-left: 264px;
  height: 198px;
  width: 198px;
  background-color: red;
  &::before {
    position: absolute;
    content: attr(data-score);
    font-size: 150px;
    letter-spacing: -10px;
    display: block;
    left: 44%;
    transform: translate(-50%);
    text-align: center;
    line-height: 1.3;
  }
}
.team-two-score {
  background-color: blue;
}

.team-score--nobg {
  background-color: transparent;
}
.team-name {
  flex: 1;
  text-align: center;
}

.broadcats-position {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 138px;
  right: 0;
  bottom: 0;
  width: 558px;
  border-radius: 50px 0 0 0;
  text-align: center;
  color: #030e33;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  font-size: 80px;
  letter-spacing: 0.08em;
  background-color: yellow;
  &::before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 27px;
    left: -27px;
    height: 150px;
    width: 49px;
    transform: rotate(25deg);
  }
}
.broadcats-info {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 138px;
  left: 0;
  bottom: 0;
  min-width: 558px;
  border-radius: 0 50px 0 0;
  text-align: center;
  color: #030e33;
  font-weight: 700;
  // text-transform: uppercase;
  font-style: italic;
  font-size: 70px;
  background-color: yellow;
  &::before {
    content: "";
    z-index: -10;
    position: absolute;
    background-color: inherit;
    top: 27px;
    right: -27px;
    height: 150px;
    width: 49px;
    transform: rotate(-25deg);
  }
}
.broadcats-info-inner {
  position: relative;
  margin-right: 60px;
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -42px;
    display: block;
    color: #9b8f00;
    background-color: #9b8f00;
    height: 90px;
    width: 5px;
    transform: rotate(10deg) translateY(10px);
  }
  &:last-child {
    margin-right: 0px;
    &::before {
      content: none;
    }
  }
}

.broadcats-position--prev {
  background: center no-repeat url("./assets/img/prev.svg");
}
// .broadcats-position--next {
//   background: center no-repeat url("./assets/img/next.svg");
// }
// .broadcats-position--now {
//   background: center no-repeat url("./assets/img/now.svg");
// }
